[Unit]
Description=kznaeroetobot
After=multi-user.target

[Service]
User=admin_oit
WorkingDirectory=/home/admin_oit/bots/kznaeroetobot
ExecStart=/home/admin_oit/bots/kznaeroetobot/.venv/bin/python3.11 /home/admin_oit/bots/kznaeroetobot/main.py
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
